### Using Random Forest to create dataset for classification

Random Forest code is imported from Random Forest Code File

In [44]:
import pandas as pd
import numpy as np
import seaborn as sns

In [45]:
from sklearn import datasets
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import StratifiedKFold as sk
from sklearn.tree import DecisionTreeClassifier as dt
from sklearn.preprocessing import StandardScaler, scale
from sklearn.metrics import accuracy_score as acs

#Libraries for data pre-processing
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn import preprocessing

In [46]:
hdb_model_data = pd.read_csv("hdb_model_data.csv")
hdb_model_data.head()

,storey_range,floor_area_sqm,no.of bto,resale application,remaining_lease_months,Distance to nearest MRT,Distance to CBD,isMatureEstate,cpi_adjusted_price_per_sqm
0,0.0625,0.114583,0.0,0.0,0.229833,0.242702,0.377101,1.0,0.113027
1,0.3750,0.098958,0.0,0.0,0.888889,0.181339,0.376605,1.0,0.339299
2,0.0000,0.114583,0.0,0.0,0.243531,0.153615,0.373691,1.0,0.077851
3,0.0625,0.114583,0.0,0.0,0.223744,0.212727,0.381423,1.0,0.128102
4,0.1250,0.088542,0.0,0.0,0.292237,0.247779,0.408523,1.0,0.084059

In [47]:
hdb_model_data.shape

(77834, 9)

In [48]:
X = hdb_model_data.iloc[:,0:8]
y= hdb_model_data.iloc[:,-1]  

X

,storey_range,floor_area_sqm,no.of bto,resale application,remaining_lease_months,Distance to nearest MRT,Distance to CBD,isMatureEstate
0,0.0625,0.114583,0.0,0.0,0.229833,0.242702,0.377101,1.0
1,0.3750,0.098958,0.0,0.0,0.888889,0.181339,0.376605,1.0
2,0.0000,0.114583,0.0,0.0,0.243531,0.153615,0.373691,1.0
3,0.0625,0.114583,0.0,0.0,0.223744,0.212727,0.381423,1.0
4,0.1250,0.088542,0.0,0.0,0.292237,0.247779,0.408523,1.0
...,...,...,...,...,...,...,...,...
77829,0.1250,0.494792,1.0,1.0,0.401826,0.318357,0.669844,0.0
77830,0.1250,0.473958,1.0,1.0,0.380518,0.174104,0.652553,0.0
77831,0.1250,0.473958,1.0,1.0,0.380518,0.174104,0.652553,0.0
77832,0.1875,0.494792,1.0,1.0,0.383562,0.149878,0.653120,0.0
77833,0.0625,0.473958,1.0,1.0,0.383562,0.149878,0.653120,0.0

https://www.geeksforgeeks.org/random-forest-hyperparameter-tuning-in-python/

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.metrics import mean_squared_error


X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
regressor = RandomForestRegressor(n_estimators = 8,  #no. of trees to be used in the model
                        max_depth = 15,  # maximum number of splits each tree can take. Too low the model will be trained less and have high bias
                        min_samples_split = 2, #every node have 2 subnodes
                        max_features = 6)#maximum features in each tree
                       
regressor.fit(X_train,y_train)


y_pred_train = regressor.predict(X_train)  
y_pred_test = regressor.predict(X_test)  
# mse = mean_squared_error(y_test,y_pred_test)
# print("Coefficient of determination test(R2): %.2f" % metrics.r2_score(y_test, y_pred_test).round(2))
# print("Mean Squared Error(R2): "+ str(mse))

# Creating classification variable

In [50]:
#using randomforestregressor to predict values for complete dataset
predicted_y = regressor.predict(X) 

#compare actual and predicted values and manually output over or undervalued
# 0 is undervalued, 1 is overvalued
over_under_classification = []
for i in range(len(y)):
    if y[i] > predicted_y[i]:
        over_under_classification.append(1)
    else:
        over_under_classification.append(0)
        
# over_under_classification

#drop price column in dataset
hdb_model_data_classification = hdb_model_data.iloc[: , :-1]

#add over_under_classification into dataset
hdb_model_data_classification = hdb_model_data_classification.assign(over_under_classification=over_under_classification)

hdb_model_data_classification

,storey_range,floor_area_sqm,no.of bto,resale application,remaining_lease_months,Distance to nearest MRT,Distance to CBD,isMatureEstate,over_under_classification
0,0.0625,0.114583,0.0,0.0,0.229833,0.242702,0.377101,1.0,0
1,0.3750,0.098958,0.0,0.0,0.888889,0.181339,0.376605,1.0,0
2,0.0000,0.114583,0.0,0.0,0.243531,0.153615,0.373691,1.0,0
3,0.0625,0.114583,0.0,0.0,0.223744,0.212727,0.381423,1.0,0
4,0.1250,0.088542,0.0,0.0,0.292237,0.247779,0.408523,1.0,0
...,...,...,...,...,...,...,...,...,...
77829,0.1250,0.494792,1.0,1.0,0.401826,0.318357,0.669844,0.0,1
77830,0.1250,0.473958,1.0,1.0,0.380518,0.174104,0.652553,0.0,1
77831,0.1250,0.473958,1.0,1.0,0.380518,0.174104,0.652553,0.0,1
77832,0.1875,0.494792,1.0,1.0,0.383562,0.149878,0.653120,0.0,1
77833,0.0625,0.473958,1.0,1.0,0.383562,0.149878,0.653120,0.0,0

In [57]:
#convert to csv
hdb_model_data_classification.to_csv('hbd_model_data_classification.csv', index=False)